{% extends 'layout/lists.html.twig' %}

{% block title %}{{'characters.list.title'|trans}}{% endblock %}

{% block searchForm %}
    {{form_start(searchForm)}}
        <div class="row">
            {{form_row(searchForm.name)}}
            {{form_row(searchForm.gender)}}
            {{form_row(searchForm.game)}}
            {{form_row(searchForm.submit)}}
        </div>
    {{form_end(searchForm)}}
{% endblock %}

{% block listBlock %}
    {% for character in characters %}
        {% include 'layout/animated-card-content.html.twig' with {
            'cardThumbnail' : character.thumbnail,
            'cardTitle' : character.name,
            'cardUrl' : path('characters_view', {slug : character.slug}),
        }%}
    {% endfor %}
{% endblock %}