{% extends 'layout/layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/signup.css')}}">
{% endblock %}

{% block title %}{{'reset_password.forgot_password.title'|trans}}{% endblock %}

{% block body %}
    <main class="signup d-flex align-items-center">
        <div class="container">
            <section class="row justify-content-center">
                <h1 class="text-center content-title">{{'reset_password.forgot_password.title'|trans}}</h1>
                <div class="col-12">
                    {% for flashError in app.flashes('reset_password_error') %}
                        <div class="alert alert-danger" role="alert">{{ flashError|trans }}</div>
                    {% endfor %}
                    {{ form_start(requestForm) }}
                        <div class="row">
                            <div class="col-12 form-group">
                                {{ form_row(requestForm.username) }}
                            </div>
                            <div class="col-12 form-group text-center">
                                <button class="btn btn-primary btn-lg">{{'form.button.validate'|trans}}</button>
                            </div>
                        </div>
                    {{ form_end(requestForm) }}
                </div>
            </section>
        </div>
    </main>
{% endblock %}