{% extends 'layout/layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/homepage.css')}}">
{% endblock %}

{% block title %}Index{% endblock %}

{% block body %}
    <section class="homepage" role="main">
        <div class="container-fluid p-0">
            <div class="row ml-0 mr-0 homepage-description">
                <div class="col-12 text-center m-2">
                    <h2>{{'homepage.description.title'|trans}}</h2>
                </div>
                <div class="col-md-6 col-12">
                    <p>{{'homepage.description.text'|trans}}</p>
                </div>
            </div>
            <div class="row ml-0 mr-0 justify-content-center homepage-licences">
                <div class="col-12 text-center m-2">
                    <h2>{{'homepage.licences.title'|trans}}</h2>
                </div>
                {% for licence in licences %}
                    <div class="col-lg-2 col-md-6 col-12 card p-0 animated-card m-4 border-0">
                        <a href="{# {{path('licenses_view', {id: licence.id})}} #}">
                            <div class="animated-card-content d-flex justify-content-center align-items-center flex-column position-absolute">
                                <span class="font-weight-bold btn btn-primary btn-lg">{{'licences.list.view_details'|trans}}</span>
                            </div>
                            <img src="{{asset(licence.thumbnail)}}" class="card-img-top" alt="{{licence.name}}"/>
                        </a>
                        <div class="card-body border-top">
                            <h3 class="card-title text-center">{{licence.name}}</h3>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}