{% extends 'layout/layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/homepage.css')}}">
{% endblock %}

{% block title %}{{'homepage.title'|trans}}{% endblock %}

{% block body %}
    <section class="homepage" role="main">
        <div class="container-fluid p-0">
            <div class="row ml-0 mr-0 homepage-description justify-content-center">
                <h2 class="mt-5 text-center">{{'homepage.licenses.title'|trans}}</h2>
                <div class="col-12 text-center">
                    <p>{{'homepage.description.text'|trans|raw}}</p>
                </div>
            </div>
            <div class="row ml-0 mr-0 justify-content-center homepage-licenses">
                <h2 class="p-3 text-center col-md-12">{{'homepage.licenses.title'|trans}}</h2>
                {% for license in licenses %}
                    {% include 'layout/animated-card-content.html.twig' with {
                        'cardThumbnail' : license.thumbnail,
                        'cardTitle' : license.name,
                        'cardUrl' : null,
                    }%}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}