{% extends 'layout/layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/homepage.css')}}">
{% endblock %}

{% block javascripts %}
    <script src="{{asset('js/animated-card.js')}}"></script>
{% endblock %}

{% block title %}{{'homepage.title'|trans}}{% endblock %}

{% block body %}
    <main class="homepage">
        <div class="container-fluid p-0">
            <section class="row ml-0 mr-0 homepage-description justify-content-center">
                <h2 class="mt-5 text-center">{{'homepage.licenses.title'|trans}}</h2>
                <div class="col-12 text-center">
                    <p>{{'homepage.description.text'|trans|raw}}</p>
                </div>
            </section>
            <section class="row ml-0 mr-0 justify-content-center homepage-licenses">
                <h2 class="p-3 text-center col-md-12">{{'homepage.licenses.title'|trans}}</h2>
                {% for license in licenses %}
                    {% include 'layout/animated-card-content.html.twig' with {
                        'cardThumbnail' : license.thumbnail,
                        'cardTitle' : license.name,
                        'cardUrl' : path('licenses_view', {slug : license.slug}),
                    }%}
                {% endfor %}
            </section>
        </div>
    </main>
{% endblock %}