{% extends 'layout/layout.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('game') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('game') }}
{% endblock %}

{% set title = 'games.characters.title'|trans|replace({'%GAME_NAME%' : game.name}) %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
    <main class="game {{game.license.slug}}">
        <div class="container-fluid p-0">
            <section class="row ml-0 mr-0 license-games justify-content-center">
                <div class="bloc-title-container col-md-12 text-center p-3 mt-2">
                    <h1 class="bloc-title position-relative">{{title}}</h1>
                </div>
                {% for gameCharacter in characters %}
                    {% include 'layout/animated-card-content.html.twig' with {
                        'cardThumbnail' : asset(vich_uploader_asset(gameCharacter, 'uploadThumbnail')),
                        'cardTitle' : gameCharacter.currentCharacter.name,
                        'cardUrl' : path('characters_view', {slug : gameCharacter.currentCharacter.slug}),
                        'cardClass' : 'col-lg-3 col-md-4 col-sm-6 col-xs-12 p-0',
                    }%}
                {% endfor %}
            </section>
        </div>
    </main>
{% endblock %}