{% extends 'layout/layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/license.css')}}">
    <link rel="stylesheet" href="{{asset('css/licenses/the-legend-of-zelda.css')}}">
    <link rel="stylesheet" href="{{asset('css/licenses/super-mario.css')}}">
    <link rel="stylesheet" href="{{asset('css/licenses/super-smash-bros.css')}}">
    <link rel="stylesheet" href="{{asset('css/licenses/pokemon.css')}}">
    <link rel="stylesheet" href="{{asset('css/licenses/donkey-kong.css')}}">
{% endblock %}

{% block javascripts %}
    <script src="{{asset('js/animated-card.js')}}"></script>
{% endblock %}

{% block title %}
    {{'games.items.title'|trans|replace({
        '%GAME_NAME%' : game.name,
    })}}
{% endblock %}

{% block body %}
    <main class="game {{game.license.slug}}">
        <div class="container-fluid p-0">
            <section class="row ml-0 mr-0 license-games justify-content-center">
                <div class="bloc-title-container col-md-12 text-center p-3 mt-2">
                    <h2 class="bloc-title position-relative">
                        {{'games.items.title'|trans|replace({
                            '%GAME_NAME%' : game.name,
                        })}}
                    </h2>
                </div>
                {% for gameItem in items %}
                    {% include 'layout/animated-card-content.html.twig' with {
                        'cardThumbnail' : asset(vich_uploader_asset(gameItem, 'uploadThumbnail')),
                        'cardTitle' : gameItem.item.name,
                        'cardUrl' : path('items_view', {slug : gameItem.item.slug}),
                        'cardClass' : 'col-lg-3 col-md-4 col-sm-6 col-xs-12 p-0',
                    }%}
                {% endfor %}
            </section>
        </div>
    </main>
{% endblock %}