{% extends 'layout/lists.html.twig' %}

{% block title %}{{'games.list.title'|trans}}{% endblock %}

{% block searchForm %}
    {{form_start(searchForm)}}
        <div class="row">
            {{form_row(searchForm.name)}}
            {{form_row(searchForm.console)}}
            {{form_row(searchForm.license)}}
            {{form_row(searchForm.genre)}}
            {{form_row(searchForm.nbPlayersMin)}}
            {{form_row(searchForm.nbPlayersMax)}}
            {{form_row(searchForm.releaseDateMin)}}
            {{form_row(searchForm.releaseDateMax)}}
            {{form_row(searchForm.submit)}}
        </div>
    {{form_end(searchForm)}}
{% endblock %}

{% block listBlock %}
    <div class="slick-container col-12 p-0">
        {% for game in games %}
            {% include 'layout/animated-card-content.html.twig' with {
                'cardThumbnail' : asset(vich_uploader_asset(game, 'uploadThumbnail')),
                'cardTitle' : game.name,
                'cardUrl' : path('games_view', {slug: game.slug}),
            }%}
        {% endfor %}
    </div>
{% endblock %}