{% extends 'layout/layout.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/games.css')}}">
    <link rel="stylesheet" href="{{asset('css/license.css')}}">
    <link rel="stylesheet" href="{{asset('css/licenses/the-legend-of-zelda.css')}}">
    <link rel="stylesheet" href="{{asset('css/licenses/super-mario.css')}}">
    <link rel="stylesheet" href="{{asset('css/licenses/super-smash-bros.css')}}">
    <link rel="stylesheet" href="{{asset('css/licenses/pokemon.css')}}">
    <link rel="stylesheet" href="{{asset('css/licenses/donkey-kong.css')}}">
{% endblock %}

{% block javascripts %}
    <script src="{{asset('js/animated-card.js')}}"></script>
{% endblock %}

{% block title %}{{game.name}}{% endblock %}

{% block body %}
    <main class="game {{game.license.slug}} {{game.slug}}">
        <div class="container-fluid p-0">
            <section class="row ml-0 mr-0 game-description justify-content-center">
                <div class="bloc-title-container col-md-12 text-center p-3 mt-2">
                    <h2 class="bloc-title position-relative">{{game.name}}</h2>
                </div>
                <div class="col-12 text-center">
                    <p>{{game.description|raw}}</p>
                </div>
            </section>
            <section class="row ml-0 mr-0 justify-content-center game-history">
                <div class="bloc-title-container col-md-12 text-center p-3 mt-2">
                    <h2 class="bloc-title position-relative">{{'games.view.history.title'|trans}}</h2>
                </div>
                <div class="col-12 text-center">
                    <p>{{game.history|raw}}</p>
                </div>
            </section>
            <section class="row ml-0 mr-0 justify-content-center game-character">
                <div class="bloc-title-container col-md-12 text-center p-3 mt-2">
                    <h2 class="bloc-title position-relative">{{'games.view.characters.title'|trans}}</h2>
                </div>
                <div class="slick-container col-12 p-0">
                    {% for gameCharacter in characters %}
                        {% include 'layout/animated-card-content.html.twig' with {
                            'cardThumbnail' : asset(vich_uploader_asset(gameCharacter, 'uploadThumbnail')),
                            'cardTitle' : gameCharacter.currentCharacter.name,
                            'cardUrl' : path('characters_view', {slug : gameCharacter.currentCharacter.slug}),
                            'cardClass' : '',
                        }%}
                    {% endfor %}
                </div>
                <div class="col-12 text-center btn-wrapper">
                    <a class="btn btn-lg btn-more btn-primary" href="{{path('games_characters', {slug : game.slug})}}">
                        <i class="fa fa-2x fa-plus align-middle mr-2"></i>
                        {{'games.view.characters.btn_see_all'|trans}}
                    </a>
                </div>
            </section>
            <section class="row ml-0 mr-0 justify-content-center game-items">
                <div class="bloc-title-container col-md-12 text-center p-3 mt-2">
                    <h2 class="bloc-title position-relative">{{'games.view.items.title'|trans}}</h2>
                </div>
                <div class="slick-container col-12 p-0">
                    {% for gameItem in items %}
                        {% include 'layout/animated-card-content.html.twig' with {
                            'cardThumbnail' : asset(vich_uploader_asset(gameItem, 'uploadThumbnail')),
                            'cardTitle' : gameItem.item.name,
                            'cardUrl' : path('items_view', {slug : gameItem.item.slug}),
                            'cardClass' : '',
                        }%}
                    {% endfor %}
                </div>
                <div class="col-12 text-center btn-wrapper">
                    <a class="btn btn-lg btn-more btn-primary" href="{{path('games_items', {slug : game.slug})}}">
                        <i class="fa fa-2x fa-plus align-middle mr-2"></i>
                        {{'games.view.items.btn_see_all'|trans}}
                    </a>
                </div>
            </section>
            <section class="row ml-0 mr-0 justify-content-center game-characteristics">
                <div class="bloc-title-container col-md-12 text-center p-3 mt-2">
                    <h2 class="bloc-title position-relative">{{'games.view.characteristics.title'|trans}}</h2>
                </div>
                <div class="col-md-12 characteristics-list">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 col-12 p-3 d-flex align-items-center m-0">
                            <i class="far fa-2x fa-calendar-alt mr-2"></i>
                            <span>{{'games.view.characteristics.release_date'|trans}}&nbsp;</span>
                            <span>{{game.releaseDate|date('d/m/Y')}}</span>
                        </div>
                        <div class="col-lg-4 col-md-6 col-12 p-3 d-flex align-items-center m-0">
                            <i class="fas fa-2x fa-users mr-2"></i>
                            <span>{{'games.view.characteristics.players'|trans}}&nbsp;</span>
                            <span>{{game.nbPlayers}}</span>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 col-12 p-3 d-flex align-items-center m-0">
                            <i class="fas fa-2x fa-cog mr-2"></i>
                            <span>{{'games.view.characteristics.genres'|trans}}&nbsp;</span>
                            <span>
                                {% set countGenres = game.genres.count() %}
                                {% set genres = '' %}
                                {% for genre in game.genres %}
                                    {% set genres = genres ~ genre.name %}
                                    {% if loop.index < countGenres %}
                                        {% set genres = genres ~ ', ' %}
                                    {% endif %}
                                {% endfor %}
                                {{genres}}
                            </span>
                        </div>
                        <div class="col-lg-4 col-md-6 col-12 p-3 d-flex align-items-center m-0">
                            <i class="fas fa-2x fa-gamepad mr-2"></i>
                            <span>{{'games.view.characteristics.consoles'|trans}}&nbsp;</span>
                            <span>
                                {% set countConsoles = game.consoles.count() %}
                                {% set consoles = '' %}
                                {% for console in game.consoles %}
                                    {% set consoles = consoles ~ console.name %}
                                    {% if loop.index < countConsoles %}
                                        {% set consoles = consoles ~ ', ' %}
                                    {% endif %}
                                {% endfor %}
                                {{consoles}}
                            </span>
                        </div>
                    </div>
                    <div class="row justify-content-center mb-5">
                        <div class="col-lg-4 col-md-6 col-12 p-3 d-flex align-items-center m-0">
                            <i class="fas fa-2x fa-shopping-basket mr-2"></i>
                            <span>{{'games.view.characteristics.copies_sold'|trans}}&nbsp;</span>
                            <span>{{game.copiesSold|number_format(0, '.', ' ')}}</span>
                        </div>
                        <div class="col-lg-4 col-md-6 col-12 p-3 align-items-center m-0">
                            &nbsp;
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}