{% extends 'layout/layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/license.css')}}">
    <link rel="stylesheet" href="{{asset('css/licenses/the-legend-of-zelda.css')}}">
    <link rel="stylesheet" href="{{asset('css/licenses/super-mario.css')}}">
    <link rel="stylesheet" href="{{asset('css/licenses/super-smash-bros.css')}}">
    <link rel="stylesheet" href="{{asset('css/licenses/pokemon.css')}}">
    <link rel="stylesheet" href="{{asset('css/licenses/donkey-kong.css')}}">
{% endblock %}

{% block javascripts %}
    <script src="{{asset('js/animated-card.js')}}"></script>
{% endblock %}

{% block title %}{{'licenses.games.title'|trans ~ license.name}}{% endblock %}

{% block body %}
    <main class="license {{license.slug}}">
        <div class="container-fluid p-0">
            <section class="row ml-0 mr-0 license-games justify-content-center">
                <div class="bloc-title-container col-md-12 text-center p-3 mt-2">
                    <h2 class="bloc-title position-relative">{{'licenses.games.title'|trans ~ license.name}}</h2>
                </div>
                {% for game in license.games %}
                    {% include 'layout/animated-card-content.html.twig' with {
                        'cardThumbnail' : asset(vich_uploader_asset(game, 'uploadThumbnail')),
                        'cardTitle' : game.name,
                        'cardUrl' :  path('games_view', {slug: game.slug}),
                        'cardClass' : 'col-lg-3 col-md-4 col-sm-6 col-xs-12 p-0',
                    }%}
                {% endfor %}
            </section>
        </div>
    </main>
{% endblock %}