{% extends 'layout/lists.html.twig' %}

{% block title %}{{'licenses.list.title'|trans}}{% endblock %}

{% block searchForm %}
    {{form_start(searchForm)}}
        <div class="row">
            {{form_row(searchForm.name)}}
            {{form_row(searchForm.submit)}}
        </div>
    {{form_end(searchForm)}}
{% endblock %}

{% block listBlock %}
    <div class="slick-container col-12 p-0">
        {% for license in licenses %}
            {% include 'layout/animated-card-content.html.twig' with {
                'cardThumbnail' : asset(vich_uploader_asset(license, 'uploadThumbnail')),
                'cardTitle' : license.name,
                'cardUrl' : path('licenses_view', {slug : license.slug}),
            }%}
        {% endfor %}
    </div>
{% endblock %}