{% extends 'layout/lists.html.twig' %}

{% block title %}{{'licenses.list.title'|trans}}{% endblock %}

{% block searchForm %}
    {{form_start(searchForm)}}
        <div class="row">
            {{form_row(searchForm.name)}}
            {{form_row(searchForm.submit)}}
        </div>
    {{form_end(searchForm)}}
{% endblock %}

{% block listBlock %}
    {% for license in licenses %}
        {% include 'layout/animated-card-content.html.twig' with {
            'cardThumbnail' : asset(vich_uploader_asset(license, 'uploadThumbnail')),
            'cardTitle' : license.name,
            'cardUrl' : path('licenses_view', {slug : license.slug}),
            'cardClass' : 'col-lg-3 col-md-4 col-sm-6 col-xs-12 p-0',
        }%}
    {% endfor %}
    {% include 'layout/pagination.html.twig' with {
        'list' : licenses,
    }%}
{% endblock %}