{% extends 'layout/lists.html.twig' %}

{% block title %}{{'licenses.list.title'|trans}}{% endblock %}

{% block searchForm %}
    {{form_start(searchForm)}}
        <div class="row">
            {{form_row(searchForm.name)}}
            {{form_row(searchForm.submit)}}
        </div>
    {{form_end(searchForm)}}
{% endblock %}

{% block listBlock %}
    {% for license in licenses %}
        {% include 'layout/animated-card-content.html.twig' with {
            'cardThumbnail' : license.thumbnail,
            'cardTitle' : license.name,
            'cardUrl' : path('licenses_view', {slug : license.slug}),
        }%}
    {% endfor %}
{% endblock %}