{% extends 'admin/layout/form.html.twig' %}

{% block title %}{{'admin.characters.add.title'|trans}}{% endblock %}

{% block form %}
    {{ form_start(form)}}
        <div class="row">
            {{ form_row(form.name)}}
            {{ form_row(form.slug)}}
            {{ form_row(form.gender)}}
            {{ form_row(form.description)}}
            <div class="col-12">
                <div class="row align-items-center">
                    {{ form_row(form.uploadThumbnail)}}
                    {% include 'admin/layout/upload-preview.html.twig' with {
                        'thumbnailUrl' : null
                    } %}
                </div>
            </div>
            {{ form_row(form.submit)}}
        </div>
    {{ form_end(form)}}
{% endblock %}

