{% extends 'admin/layout/lists.html.twig' %}

{% block title %}{{ 'characters.list.title'|trans }}{% endblock %}

{% block mainDataAttributes %}
    data-text-confirm-remove-entity="{{'admin.characters.list.confirm_remove'|trans}}"
{% endblock %}

{% block listHeader %}
    <div class="row">
        <div class="col-md-2">
            <span>{{ 'characters.form.name.label'|trans }}</span>
        </div>
        <div class="col-md-7">
            <span>{{ 'characters.form.description.label'|trans }}</span>
        </div>
        <div class="col-md-2">
            <span>{{ 'characters.form.thumbnail.label'|trans }}</span>
        </div>
        <div class="col-md-1"></div>
    </div>
{% endblock %}

{% block listRows %}
    {% for character in characters %}
        <div class="block-content list-group-item" >
			<div class="row">
                <div class="col-md-2">
                    <p>
                        {{ character.name }}
                    </p>
                </div>
                <div class="col-md-7">
                    <div class="row align-items-center">
                        <div class="col-md-11">
                            <p class="truncated-text">
                                {{ character.description|raw }}
                            </p>
                        </div>
                        <div class="col-md-1">
                            <i class="fas fa-search-plus view-full-text"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <a data-thumbnail="{{asset(vich_uploader_asset(character, 'uploadThumbnail'))}}" data-toggle="modal" data-target="#thumbnail-modal" href="#" title="{{ 'games.list.see_thumbnail'|trans }}" class="text-dark row m-0 align-items-center text-decoration-none see-thumbnail">
                        <i class="fas fa-image fa-2x"></i>
                    </a>
                </div>
                <div class="col-md-1 list-action">
                    <div class="btn-group dropbottom">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{path('admin_characters_edit', {id : character.id})}}">
                               <i class="fas fa-edit"></i>
                                {{'form.button.edit'|trans}}
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item remove-entity" href="{{path('admin_characters_remove', {id : character.id})}}">
                               <i class="fas fa-trash"></i>
                                {{'form.button.remove'|trans}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if characters is empty %}
        <div class="alert alert-info text-center">
            {{ 'admin.characters.list.empty'|trans }}
        </div>
    {% endif %}
{% endblock %}

{% block navigation %}
    {{ knp_pagination_render(characters) }}
{% endblock %}