{% extends 'layout/lists.html.twig' %}

{% block title %}{{'consoles.list.title'|trans}}{% endblock %}

{% block searchForm %}
    {{form_start(searchForm)}}
        <div class="row">
            {{form_row(searchForm.name)}}
            {{form_row(searchForm.game)}}
            {{form_row(searchForm.releaseDateMin)}}
            {{form_row(searchForm.releaseDateMax)}}
            {{form_row(searchForm.releasePriceMin)}}
            {{form_row(searchForm.releasePriceMax)}}
        </div>
        <div class="form-action">
            {{form_row(searchForm.submit)}}
        </div>
    {{form_end(searchForm)}}
{% endblock %}

{% block listBlock %}
    {% for console in consoles %}
        {% include 'layout/animated-card-content.html.twig' with {
            'cardThumbnail' : asset(vich_uploader_asset(console, 'uploadThumbnail')),
            'cardTitle' : console.name,
            'cardUrl' :  path('consoles_view', {slug: console.slug}),
            'cardClass' : 'col-lg-3 col-md-4 col-sm-6 col-xs-12 p-0',
        }%}
    {% endfor %}
    {% include 'layout/pagination.html.twig' with {
        'list' : consoles,
    }%}
{% endblock %}