<!DOCTYPE html>
<html lang="fr" class="front">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{{asset('img/favicon.ico')}}">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('css/components/variables.css')}}">
        <link rel="stylesheet" href="{{asset('css/components/animations.css')}}">
        <link rel="stylesheet" href="{{asset('css/components/layout.css')}}">
        <link rel="stylesheet" href="{{asset('css/components/header.css')}}">
        <link rel="stylesheet" href="{{asset('css/components/footer.css')}}">
        <link rel="stylesheet" href="{{asset('css/components/list.css')}}">
        <link rel="stylesheet" href="{{asset('css/components/animated-card.css')}}">
        <link rel="stylesheet" href="{{asset('css/components/fonts.css')}}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'layout/header.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'layout/footer.html.twig' %}
        
        <script src="{{asset('js/jquery-3.5.1.slim.min.js')}}"></script>
        <script src="{{asset('js/popper.min.js')}}"></script>
        <script src="{{asset('js/bootstrap.min.js')}}"></script>
        <script src="{{asset('js/fontawesome.js')}}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
