<!DOCTYPE html>
<html lang="fr" class="front">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{{asset('img/favicon.ico')}}">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {{ encore_entry_link_tags('layout-front') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'layout/header.html.twig' %}
        {% block body %}{% endblock %}

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="custom-alert alert alert-{{ label }}">
                    <p class="mb-0"><strong>{{ message|trans }}</strong></p>
                </div>
            {% endfor %}
        {% endfor %}
        
        {% include 'layout/footer.html.twig' %}
        {{ encore_entry_script_tags('layout-front') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
