{% extends 'admin/layout/form.html.twig' %}

{% block title %}{{'admin.games.add.title'|trans}}{% endblock %}

{% block form %}
    {{ form_start(form)}}
        <div class="row">
            {{ form_row(form.name)}}
            {{ form_row(form.slug)}}
            {{ form_row(form.license)}}
            {{ form_row(form.nbPlayers)}}
            {{ form_row(form.consoles)}}
            {{ form_row(form.genres)}}
            {{ form_row(form.releaseDate)}}
            {{ form_row(form.copiesSold)}}
            {{ form_row(form.description)}}
            {{ form_row(form.history)}}
            {{ form_row(form.backgroundPosition)}}
            {{ form_row(form.firstBlockMinHeight)}}
            <div class="col-12">
                <div class="row align-items-center upload-container">
                    {{ form_row(form.uploadThumbnail)}}
                    {% include 'admin/layout/upload-preview.html.twig' with {
                        'thumbnailUrl' : null
                    } %}
                </div>
            </div>
            <div class="col-12">
                <div class="row align-items-center upload-container">
                    {{ form_row(form.uploadBackgroundDesktop)}}
                    {% include 'admin/layout/upload-preview.html.twig' with {
                        'thumbnailUrl' : null
                    } %}
                </div>
            </div>
            <div class="col-12">
                <div class="row align-items-center upload-container">
                    {{ form_row(form.uploadBackgroundMobile)}}
                    {% include 'admin/layout/upload-preview.html.twig' with {
                        'thumbnailUrl' : null
                    } %}
                </div>
            </div>
            {{ form_row(form.submit)}}
        </div>
    {{ form_end(form)}}
{% endblock %}

