{% extends 'admin/layout/lists.html.twig' %}

{% block title %}{{ 'games.list.title'|trans }}{% endblock %}

{% block mainDataAttributes %}
    data-text-confirm-remove-entity="{{'admin.games.list.confirm_remove'|trans}}"
{% endblock %}

{% block listHeader %}
    <div class="row">
        <div class="col-md-4">
            <span>{{ 'games.list.informations'|trans }}</span>
        </div>
        <div class="col-md-3">
            <span>{{ 'games.form.description.label'|trans }}</span>
        </div>
        <div class="col-md-3">
            <span>{{ 'games.form.history.label'|trans }}</span>
        </div>
        <div class="col-md-1">
            <span>{{ 'games.form.release_date.label'|trans }}</span>
        </div>
        <div class="col-md-1"></div>
    </div>
{% endblock %}

{% block listRows %}
    {% for game in games %}
        <div class="block-content list-group-item" >
			<div class="row">
                <div class="col-md-4">
                    <p>
                        {% set countGenres = game.genres.count() %}
                        {% set genres = '' %}
                        {% for genre in game.genres %}
                            {% set genres = genres ~ genre.name %}
                            {% if loop.index < countGenres %}
                                {% set genres = genres ~ ', ' %}
                            {% endif %}
                        {% endfor %}

                        {% set countConsoles = game.consoles.count() %}
                        {% set consoles = '' %}
                        {% for console in game.consoles %}
                            {% set consoles = consoles ~ console.name %}
                            {% if loop.index < countConsoles %}
                                {% set consoles = consoles ~ ', ' %}
                            {% endif %}
                        {% endfor %}

                        <span>{{ 'games.form.name.label'|trans }}</span> : {{ game.name }}<br/>
                        <span>{{ 'games.form.licence.label'|trans }}</span> : {{ game.license.name }}<br/>
                        <span>{{ 'games.form.console.label'|trans }}</span> : {{ consoles }}<br/>
                        <span>{{ 'games.form.genre.label'|trans }}</span> : {{ genres }}<br/>
                        <span>{{ 'games.form.player_numbers.label'|trans }}</span> : {{ game.nbPlayers }}<br/>
                        <a data-thumbnail="{{asset(vich_uploader_asset(game, 'imageFile'))}}" data-toggle="modal" data-target="#thumbnail-modal" href="#" title="{{ 'games.list.see_thumbnail'|trans }}" class="text-dark row m-0 align-items-center text-decoration-none see-thumbnail">
                            {{ 'games.list.see_thumbnail'|trans }} :&nbsp;<i class="fas fa-image fa-2x"></i>
                        </a>
                    </p>
                </div>
                <div class="col-md-3">
                    <div class="row align-items-center">
                        <div class="col-md-11">
                            <p class="truncated-text">
                                {{ game.description|raw }}
                            </p>
                        </div>
                        <div class="col-md-1">
                            <i class="fas fa-search-plus view-full-text"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row align-items-center">
                        <div class="col-md-11">
                            <p class="truncated-text">
                                {{ game.history|raw }}
                            </p>
                        </div>
                        <div class="col-md-1">
                            <i class="fas fa-search-plus view-full-text"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <p>{{ game.releaseDate|date('d/m/Y') }}</p>
                </div>
                <div class="col-md-1 list-action">
                    <div class="btn-group dropbottom">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{path('admin_games_edit', {id : game.id})}}">
                               <i class="fas fa-edit"></i>
                                {{'form.button.edit'|trans}}
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{path('admin_games_characters_manage', {id : game.id})}}">
                               <i class="fas fa-users"></i>
                                {{'admin.games.list.manage_characters_btn'|trans}}
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{path('admin_games_items_manage', {id : game.id})}}">
                               <i class="fas fa-tools"></i>
                                {{'admin.games.list.manage_items_btn'|trans}}
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item remove-entity" href="{{path('admin_games_remove', {id : game.id})}}">
                               <i class="fas fa-trash"></i>
                                {{'form.button.remove'|trans}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if games is empty %}
        <div class="alert alert-info text-center">
            {{ 'admin.games.list.empty'|trans }}
        </div>
    {% endif %}
{% endblock %}

{% block navigation %}
    {{ knp_pagination_render(games) }}
{% endblock %}
